@media screen and (min-width: 568px) {
    :root{
    --first:white;
    --second:grey;
}
  .mobile{
    display: none;
  }
  .no-mobile{
    display: block;
   text-align: start;
   
  }
   main>.sidenav{
    width: 200px;
}
.sidenav h1 + ul>li:first-child{
    color: var(--first);
}
.sidenav h4{
    color:var(--first);
    margin-bottom: 5%;
}
.sidenav h5+ul{
    height: 80%;
    overflow: auto;
}
.fa-square-plus{
    font-size: xx-large;
}
.sidenav h5>i{
    vertical-align: sub;
} 
.sidenav svg +span{
    color: var(--first);
    vertical-align: super;
}
  main>.music{
    width: calc(100% - 200px);
}
header{
    width: calc(100% - 200px);
}
.music>.container>ul>li{
    width: calc(100% / 3 - 10px );
    font-size: small;
}
} 
    
