*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --first:white;
    --second:grey;
}
body{
    min-width: 470px;
    min-height: 203px;
}
main{
    
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: black;
}
footer{
    height: 20vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    color: var(--first);
    background-color:rgb(40, 40, 40);
}
ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    height: 100%;
    width: 90%;
}
.no-mobile{
    display: none;
}
/* sidenav */
 main>.sidenav{
    width: 5%;
    color: var(--second);
    text-align: center;
}
.sidenav>.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidenav h1{
    color: var(--first);
    margin-top: 5%;
}
.sidenav .fa-solid{
    margin-right: 5%;
}
main>.music{
    width: 95%;
}
.sidenav li{
    margin: 10% auto;
}
/* profile */
.profile svg{
    background-color: var(--second);
    border-radius: 50%;
    margin-top: 10%;
}
/* Header */
header{
    width: 95%;
    height: 50px;
    text-align: end;
    padding-top: 3%;
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
     right: 0;
}
header span{
    color: white;
    border:1px solid white;
    border-radius: 25px;
    padding: 5px;
}
/*  music */
.music{
        background-color:rgb(20, 25, 34) ;
}
.music>.container{
    height: 100%;
    overflow-y: auto;
    color: var(--second);

}
.music>.container>*{
    margin-bottom: 5%;
}
.music>.container>ul{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.music>.container>li{
    width: calc(100% / 4 - 10px );
}
.recently,
.mix,
.artist{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 4%;
    width: 40%;
    text-align: center;
}
.card>*{
    margin: 5% auto;
}
.card>img{
    width: 100%;
}
.music>.container h2,
.music>.container h4{
    color: var(--first);
}


















/* FOOTER */
footer .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 5%;
}
/* playin section */
.playing{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5%;
}   
footer .playing img{
    width:50px;
}
footer .playing h4{
    color: var(--second);
}
.playing .prefer{
    display: flex;
    flex-direction: column;
    color: var(--second);
    margin-right: 5%;
}
/* play section */
.play{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}   
footer .play>li{
    display: inline-block;
    margin:2px;
    width: calc(100% / 5 - 4px);
    text-align: center;
}
footer .play>.bar{
    min-width:calc(100% / 5 - 4px);
    flex-grow: 1;
}
.bar>input{
    width: 100%;
}
.play .fa-solid,
.play .fa-regular{
    font-size: x-large;
}
/*  vol */
.vol{
    display: flex; 
    justify-content: flex-end;
    gap: 5px;  
}
.vol input{
    width: 100%;
}